includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon

parameters:
    level: 9
    paths:
        - bin
        - config
        - public
        - src
        - tests

    doctrine:
    	objectManagerLoader: tests/PHPStan/doctrine-object-manager.php